body {
    font-family: Arial, sans-serif;
    background-color: #f5d089ef;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.registro-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h2 {
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;  /* Centrar el input y el botón */
    justify-content: space-between; /* Espacio entre el input y el botón */
}

input, select {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 14px;
    width: 85%;  /* Ajustar para que el input ocupe el espacio restante */
}

button {
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(124, 100, 66);
    color: white;
    font-size: 16px;
    cursor: pointer;
    border: none;
    margin-left: 10px; /* Separar ligeramente el botón del input */
    margin-top: -15px; /* Mover el botón hacia arriba */
}

button:hover {
    opacity: 0.9;
}

.submit-btn {
    background-color: #7c6442;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: -1px; /* Mover el botón hacia arriba */
}

.submit-btn:hover {
    background-color: #7c6442;
}

p a {
    color: #f34b18;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
