/* Contenedor principal */
main {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

/* Secciones */
section {
    margin-bottom: 20px;
}

section h2 {
    color: #422929c9; /* Verde oscuro */
    margin-bottom: 10px;
    font-size: 1.4em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
}

section p {
    margin-bottom: 15px;
    font-size: 1rem;
    color: #555;
}

/* Enlaces dentro del contenido */
section a {
    color: #422929c9

    ; /* Verde oscuro */
    text-decoration: none;
    font-weight: bold;
}

section a:hover {
    text-decoration: underline;
}